* {
    margin: 0;
    box-sizing: border-box;
}

body,
html {
    height: 100vh;
    overflow: hidden;
}

main {
    font-family: Roboto, sans-serif;
    height: 100vh;
    overflow: hidden;
    background-color: black;
    display: grid;
    grid-template:
        minmax(200px, 1fr) minmax(200px, 7fr) / minmax(250px, 1fr) minmax(0, 5fr);
}

.sidebar {
    grid-area: 1/1/-1/2;
    background-color: #1992D4;
    color: white;
    font-size: large;
    display: flex;
    flex-direction: column;
    padding-top: 20px;
}

.sidebar-item {
    margin-left: 40px;
    max-height: 40px;
    display: flex;
    align-items: center;
    font-weight: 500;
    gap: 15px;
}

.sidebar-item:first-of-type {
    font-size: larger;
    font-weight: bold;
    margin-bottom: 40px;
}

.sidebar-item:nth-child(7) {
    margin-bottom: 50px;
}

.top-bar {
    grid-area: 1/2/2/3;
    background-color: white;
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 3;
    -webkit-box-shadow: 2px 2px 12px 2px rgba(0, 0, 0, 0.32);
    box-shadow: 2px 2px 12px 2px rgba(0, 0, 0, 0.32);
}

.content-section {
    grid-area: 2/2/-1/-1;
    background-color: #E2E8F0;
    display: grid;
    grid-template-columns: minmax(200px, 3fr) minmax(200px, 1fr);
}

.projects {
    grid-column: span 1;
    display: flex;
    flex-direction: column;
}

.announcements {
    grid-column: span 1;

    display: flex;
    flex-direction: column;
}

.announcements>div {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.search-bar {

    flex: 1;
}

.content-title {
    height: 50px;

    display: flex;
    align-items: flex-end;
    font-weight: 700;
    padding-left: 20px;
}

.action-bar {
    gap: 20px;
    flex: 1;
    justify-content: space-between;
    display: flex;
    max-height: 50%;
    padding: 20px;
}

.contentcard {
    height: 100%;
    width: 100%;
    background-color: white;
    border-radius: 10px;
    padding: 10px;
    border-left: 5px solid #EFB42A;
    -webkit-box-shadow: 2px 2px 12px 2px rgba(0, 0, 0, 0.32);
    box-shadow: 2px 2px 12px 2px rgba(0, 0, 0, 0.32);
    font-size: 0.8rem;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.content-grid {
    display: grid;
    flex: 1;
    grid-template: repeat(3, minmax(200px, 3fr)) / repeat(2, minmax(200px, 3fr));
    place-items: center;
    gap: 20px;
    padding: 20px;
}

.sidebar-img {
    object-fit: cover;
    max-width: 100%;
    max-height: 80%;
    filter: invert(100%);
}

.action-bar button {
    all: unset;
    background-color: #1992D4;
    color: white;
    padding: 10px 20px;
    margin: 0 10px;
    border-radius: 20px;
    font-weight: 500;
}

.button-container {
    display: flex;
    align-items: center;
}

.action-bar-img {
    object-fit: cover;
    height: 50px;
    max-width: 100%;
    max-height: 100%;
}


.action-text {
    display: flex;
    flex-direction: column;
    flex: 1;
    width: 300px;
}

.action-icon {
    flex: 0.1;
}

.left-ab {
    display: flex;
    flex: 1;
    max-height: 100%;
    align-items: center;
    gap: 20px;
}

.announcements-container {
    background-color: #fff;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    font-size: 0.8rem;
    margin-top: 20px;
    padding: 0 20px 20px 20px;
    -webkit-box-shadow: 2px 2px 12px 2px rgba(0, 0, 0, 0.32);
    box-shadow: 2px 2px 12px 2px rgba(0, 0, 0, 0.32);
}

.announcements {
    padding: 20px;
}
.trending-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    
}

.trending-accounts {
    flex: 1;
    width: 100%;
    background-color: #fff;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    margin: 15px;
    padding: 15px;
}

.announcements-container div:nth-child(2) {
    border-bottom: 1px grey solid;
    border-top: 1px grey solid;
    padding: 15px 0;
}

.announcement p:first-child {
    text-emphasis: bold;
}

.search-bar {
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    padding: 10px;
}


.search-bar img {
    object-fit: contain;
    width: 32px;
}

.search-bar input {
    border-radius: 40px;
    outline: none;
    /* Removes the blue outline on focus */
    border: none;
    box-shadow: none;
    /* Removes any shadow effect */
    appearance: none;
    /* Removes default styling on some browsers */
    -webkit-appearance: none;
    /* Removes default styling on WebKit browsers */
    -moz-appearance: none;
    /* Removes default styling on Firefox */
    background-color: lightgrey;
    height: 25px;
    flex: 1;
}

.search-bar div:has(input) {
    flex: 1;
    display: flex;
}

.search-container {
    display: flex;
    align-items: center;
}


.bold {
    font-weight: 800;
}

.cc-icon-img {
    filter: invert(100%) brightness(30%) grayscale(100%);
}

.contentcard p:first-child {
    font-weight: 700;
}

.cc-icons {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}

.trending-container {
    padding-top: 20px;
    
}

.trending-accounts img {
    height: 32px;
    width: 32px;
    clip-path: circle(50%); /* Creates a circular mask */
}

.account {
    font-size: 0.7rem;
    display: flex;
    justify-content: flex-start;
    gap: 10px;
}

.trending-accounts {
    -webkit-box-shadow: 2px 2px 12px 2px rgba(0, 0, 0, 0.32);
    box-shadow: 2px 2px 12px 2px rgba(0, 0, 0, 0.32);
}

.trending-accounts div p:first-child{
    font-weight: 600;
}